/* ---- Base Rules ---- */

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
    font-family: 'Cairo',
        sans-serif;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 98px;
        margin: 2em 4rem 1em;
        font-family: 'Cairo',
            sans-serif;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 50PX;
    color: #fff;
    font-family: 'Cairo',
        sans-serif;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;


}

.navbar__menu .menu__link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'Cairo',
        sans-serif;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 17px;
    color: #fff;
    text-align: center;
}

.page__footer p {
    color: #fff;
    font-size: 17px;
    font-family: 'Cairo',
        sans-serif;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.your-active-class {
    background: rgb(247, 0, 255);
    background: linear-gradient(0deg, rgba(247, 0, 255, 0.247) 0%, rgba(247, 0, 255, 0.247) 0%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}
section.your-nactive-class {
  background: rgb(247, 0, 255);
  background: linear-gradient(0deg, rgba(247, 0, 255, 0.247) 0%, rgba(247, 0, 255, 0.247) 0%);
}

section.your-nactive-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-nactive-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/* new style  */

.navbar {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    line-height: 80px;
    font-size: 18px;
    font-family: 'Cairo',
        sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Cairo',
        sans-serif;
}

.navbar a.navbar-brand img {
    width: 69px;
    padding: 10px;
    position: relative;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar .navbar-toggler {
    display: none;
}



@media (max-width: 991px) {


    .navbar ul li a {
        min-width: 100px;
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }

    .navbar ul.open {
        max-height: 100vh;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        padding: 0;
    }

    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }

    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #fff;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }

    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }

    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }

    .navbar .navbar-toggler.open-navbar-toggler span {
        background-color: transparent;
    }

    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
    }

    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
    }
}


.edLi {
    list-style: none;
    line-height: 2;
    font-family: 'Cairo',
        sans-serif;
}

.lihi {
    line-height: 2;
    font-family: 'Cairo',
        sans-serif;
}

.liP {
    font-family: 'Cairo',
        sans-serif;
}